@{
    ViewData["Title"] = "Home Page";
}

<h2>
	You have
    @{
	    @ViewData["Data"]
	}
	Monies
</h2>

<div>
    <a href="/Home/WithdrawAndDeposit">Withdraw And Deposit</a>
    @foreach(string transaction in List<string>trans)
	<li>
		
	</li>
</div>